span.word:hover{
cursor: pointer;
}

#drill_name_text{
    text-decoration:underline;
    text-decoration-style: dashed;
    font-size: x-large;
    font-weight: bold;
}

#drill_name_text:hover{ 
    cursor: pointer; 
}

span.badge_pointer:hover{
cursor: pointer;
}

span.order{
    font-weight: bold;
}

#pencil:hover{
    cursor: pointer;
}


h3{
    text-align: center;
}